<article class="comment">
  <section class="comment-user-info usertime">
    <h4>{{user.username}}</h4>
    <p class="comment-date">{{format_date updatedAt}}</p>
  </section>
  <section class="comment-content">
    <p>{{content}}</p>
  </section>
</article>