<h1>Add Post</h1>
<form action="POST" id="add-post-form">
  <label for="title-text">Title</label>
  <input type="Text" name="title" id="title-text" />
  <label for="content-text">Content</label>
  <textarea name="content" id="content-text" rows="10"></textarea>
  <button type="submit">Add post</button>
</form>

<script src="/js/addPost.js"></script>