<form id="login-form">
    <div class="form-input">
        <label for="login-id">Email or Username</label>
        <input name="id" id="login-id">
    </div>

    <div class="form-input">
        <label for="login-password">Password</label>
        <input type="password" name="password" id="login-password">
    </div>

    <div id="login-error" class="hidden">Credentials not valid, please check your entry</div>
    
    <button type="submit">Login</button>

    <a href="/signup">I Don't have an account?</a>
</form>

<script src="/js/login.js"></script>